body{
    background-color: antiquewhite;
}

#navigation_container{
    width: 90%;
    height: 80px;
    background-color: orange;
    display: block;
    align-content: center;
}
#home{
    float: left;
    font-family: serif;
    text-decoration: none;
    margin: 20px;
    width: 100px;
    height: 40px;
    margin: 2px 10px 2px 0px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    color: white;
    font-size: 30px;
}
#login, #signup, #logout{
    font-family: serif;
    text-decoration: none;
    float: right;
    width: 100px;
    height: 40px;
    margin: 2px 8px 2px 0px;
    padding: 20px 0px 10px 0px;
    border-radius: 10px;
    color: brown;
    font-size: 20px;
}
#login:hover, #signup:hover, #logout:hover{
    color: white;
    background-color: rgb(248, 182, 61);
}
#contestants_container{
    position: fixed;
    top: 120px;
    left: 5.5%;
    width: 700px;
    height: fit-content;
    background-color: aqua;
}

#contestants_info_container{
    visibility: hidden;
    position: fixed;
    top: 120px;
    right:6%;
    width: 400px;
    height: 500px;
}

#HB_container{
    width: 100%;
    height: 150px;
    background-color: aquamarine;
    margin: 5px 0px 5px 0px;
}

#HB_image_container, #HB_image{
    width: 150px;
    height: 150px;
}
#HB_vote_section, #HG_vote_section, #GS_vote_section{
    margin: 5px 65% 5px 5px;
    position: relative;
    float: right;
    display: grid;
}
#whoAmI_HB, #whoAmI_HG, #whoAmI_GS{
    border-style: none;
    border-radius: 3px;
    padding: 5px;
    background-color: orange;
    color: brown;
    
}
#whoAmI_HB:hover, #whoAmI_HG:hover, #whoAmI_GS:hover{
    color: white;
    background-color: brown;
    cursor: default;
    animation: animate_whoAmI 3s;
}
@keyframes animate_whoAmI{
    50%{transform: scale(1.1); background-color: orange;}
    100%{transform: scale(1); background-color: brown;}
}

#check_HB{
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
#check_HB:checked{

}

#HG_container{
    width: 100%;
    height: 150px;
    background-color: aquamarine;
    margin: 5px;
    margin: 5px 0px 5px 0px;
}

#HG_image_container, #HG_image{
    width: 150px;
    height: 150px;
}

#GS_container{
    width: 100%;
    height: 150px;
    background-color: aquamarine;
    margin: 5px;
    margin: 5px 0px 5px 0px;
}

#GS_image_container, #GS_image{
    width: 150px;
    height: 150px;
}